/* 全体の背景色 */
body {
  background-color: #f8f9fa; /* 薄い緑色 */
}

/* 緑色のライン */
.green-line {
  border: none;
  border-top: 2px solid #00984F; /* 緑色のライン */
  margin-top: -10px; /* 上の余白を調整 */
  margin-bottom: 20px; /* 下の余白を調整 */
  width: 100%; /* 全幅 */
}
/* 緑の線より下だけ余白を追加 */
.form-container {
  padding-left: 45px; /* 左の余白 */
  padding-right: 45px; /* 右の余白 */
}
/* 入力フィールドとボタンの高さと幅を揃える */
.form-control,
.btn {
    height: 50px; /* 高さを指定 */
    width: 100%; /* 横幅を100%に */
    max-width: 600px; /* 最大幅を統一 */
    font-size: 1rem; /* フォントサイズを統一 */
    border-radius: 8px; /* 角丸を統一 */
    margin: 0 auto; /* 中央揃え */
}

/* ラベルのスタイル */
.form-label {
  font-size: 0.9rem;
}

/* ボタンのスタイル */
.btn-warning {
  background-color: #ffa965; /* オレンジ色 */
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.btn-warning:hover {
  background-color: #ffa965; /* ホバー時の濃いオレンジ */
}

/* リンクのスタイル */
a {
  font-size: 0.9rem;
  color: #6c757d;
}

a:hover {
  color: #28a745; /* ホバー時の緑色 */
}
